<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle <%= auto.model.brand.name %>-<%= auto.model.name %></title>
    <script src="https://kit.fontawesome.com/f7dd056d3c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>

  <body>
   
    <%- include("../partials/header") %> 

    <main>
      <section class="product_detail">
        <div class="descripcion">
          <div class="title_product">
            <h2><%= auto.model.brand.name %>-<%= auto.model.name %></h2>
            
            <% if (locals.userLogged && (locals.userLogged.rol_id == 2)) { %>
              <div class="product_modify_delete">
                <form action="/products/edit/<%= auto.id %>">
                  <button type="submit" style="all: unset;"><i class="fa-regular fa-pen-to-square"></i></button>
                </form>
  
               <form action="/products/<%= auto.id %>?_method=DELETE" method="post">
                  <button type="submit" style="all: unset;"><i class="fa-solid fa-trash"></i></button>
                </form>
              </div>
            <% } %>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            aspernatur asperiores laboriosam, iste exercitationem voluptate.
            Culpa, laboriosam impedit. Magnam rem eligendi facilis dolorem
            cupiditate iste veritatis accusantium vel vitae molestias!
          </p>
        </div>

        <div class="images_detail" id="carrucel_detail">
    
          <div class="item_carrucel_detail" id="product_detail_1">
<!-- 
            <div class="card_carrucel_detail">
            
              
            </div> -->
            <img class="card_carrucel_detail" src="/images/products/default-troll-img.jpeg" alt="">
            <div class="carrucel_navegation">
              <a href="#product_detail_3">
                <i class="fa-solid fa-caret-left"></i>
              </a>
              <a href="#product_detail_1">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_2">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_3">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_2">
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>
          
          <div class="item_carrucel_detail" id="product_detail_2">
  
            <div class="card_carrucel_detail">
              IMAGEN B
            </div>
            <!-- <img class="card_carrucel_detail" src="/images/matiboton.png" alt=""> -->
            <div class="carrucel_navegation">
              <a href="#product_detail_1">
                <i class="fa-solid fa-caret-left"></i>
              </a>
              <a href="#product_detail_1">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_2">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_3">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_3">
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>
          
          <div class="item_carrucel_detail" id="product_detail_3">
            
            <div class="card_carrucel_detail">
              IMAGEN C
            </div>
            
            <div class="carrucel_navegation">
              <a href="#product_detail_2">
                <i class="fa-solid fa-caret-left"></i>
              </a>
              <a href="#product_detail_1">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_2">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_3">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_1">
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="products_tags">
          <div class="price">$<%= auto.price %></div>
          <button class="reserve">Realizar reserva</button>
        </div>
        
      </section>
      
      <section class="specification_detail">
        <div class="specifications_drop_down">
          <input type="checkbox" id="drop_down">

          <div class="specifications_container">

            <div class="especification">
              <h4>Especificaciones 1</h4>
              <div class="table_container">
                <table>
                  <tr>
                    <td class="details">Marca</td>
                    <td class="data"><%= auto.model.brand.name %></td>
                  </tr>
                  <tr>
                    <td class="details">Modelo</td>
                    <td class="data"><%= auto.model.name %></td>
                  </tr>
                  <tr>
                    <td class="details">Año</td>
                    <td class="data"><%= auto.year %></td>
                  </tr>
                  <tr>
                    <td class="details">Color</td>
                    <td class="data"><%= auto.color.name %></td>
                  </tr>
                  <tr>
                    <td class="details">Puertas</td>
                    <td class="data"><%= auto.doors %></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="especification">
              <h4>Especificaciones 2</h4>
              <div class="table_container">
                <table>
                  <tr>
                    <td class="details">Tipo Motor</td>
                    <td class="data"><%= auto.gasType.tipo %></td>
                  </tr>
                  <tr>
                    <td class="details">Año de Fabricacion</td>
                    <td class="data"><%= auto.manufacturingYear %></td>
                  </tr>
                  <tr>
                    <td class="details">Transmision</td>
                    <td class="data"><%= auto.transmission %></td>
                  </tr>
                  <tr>
                    <td class="details">Kilometraje</td>
                    <td class="data"><%= auto.km %>km</td>
                  </tr>
                  <!-- <tr>
                    <td class="details">Puertas</td>
                    <td class="data">2</td>
                  </tr> -->
                </table>
              </div>
            </div>

            <div class="especification">
              <h4>Equipamiento</h4>
              <div class="table_container">
                <table>
                  <tr>
                    <td class="data"><%= auto.equipment %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <label class="show-more" for="drop_down">
            <i class="fa-solid fa-plus"></i>
          </label>
        </div>        

      </section>

      <section class="recomendations">
        <div>
          <h3>Autos similares</h3>
          
          <%- include('../partials/carrucel') %> 
        </div>
      </section>

    </main>

    <%- include("../partials/footer") %> 


  </body>
</html>
