<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/productEdit.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/login.css"> -->
    
    <title>Editar <%= car.model.brand.name %>-<%= car.model.name %></title>

    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>
</head>

<body>
    <%- include("../partials/header") %> 

    <main>
        <div class="edit-modify">
            <div class="div-edit-modify" action="">
                <img src="/images/products/<%= car.img %>" alt="">
            </div>
            
            <div class="content-box">   
              
                    <form class="form-edit-modify" method="post" action="/products/edit/<%= car.id %>?_method=PUT" enctype="multipart/form-data">
                    <div class="car-id">
                        <h4>ID: <%= car.id %></h4>
                    </div>

                    <div class="input-box">
                        <span>Marca de producto</span>
                        <br>
                        <select name="brand_id" id="brand_id" >
                            <option value="" disabled selected>Seleccionar</option>
                            <% for(let brand of brands) { %>
                                <% if (brand.id == car.model.brand_id) { %>
                                    <option value="<%= brand.id %>" selected> <%= brand.name %> </option>
                                    <% } else { %>
                                        <option value="<%= brand.id %>"> <%= brand.name %> </option>
                                    <% } %>
                            <% } %>
                        </select>
                    </div>
                    
                    <div class="input-box">
                        <span>Modelo del producto</span>
                        <br>
                        <select name="model_id" id="model_id" >
                            <!-- <option value="" disabled selected>Seleccionar</option> -->
                            <% for(let model of models) { %>
                                <% if (model.id == car.model_id) { %>
                                    <option value="<%= model.id %>" selected> <%= model.name %> </option>
                                    <% } %>
                            <% } %>
                        </select>
                    </div>

                    <label for="">Imagen
                        <input class="input-box" type="file" name="img" id="" multiple>
                    </label>
                    
                    <div class="input-box">
                        <span>Año</span>
                        <input type="text" name="year" value="<%= car.year %>">
                    </div>
                    
                    <div class="input-box">
                        <span>Puertas</span>
                        <input type="text" name="doors" value="<%= car.doors %>">
                    </div>
                    
                    <div class="input-box">
                        <span>Precio</span>
                        <input type="number" name="price" value="<%= car.price %>">
                    </div>

                    <div class="input-box">
                        <span>Kilometraje</span>
                        <input type="number" name="km" value="<%= car.km %>">
                    </div>
                    
                    <div class="input-box">
                        <span>Año de Fabricacion</span>
                        <input type="number" name="manufacturingYear" value="<%= car.manufacturingYear %>">
                    </div>

                    <div class="input-box">
                        <span>Transmision</span>
                        <input type="text" name="transmission" value="<%= car.transmission %>">
                    </div>

                    <div class="input-box">
                        <span>Equipamiento</span>
                        <input type="textarea" name="equipment" value="<%= car.equipment %>">
                    </div>


                    <div class="input-submit">
                        <input type="submit" value="Aplicar" name="">
                    </div>

                    <div class="input-submit">
                        <input type="reset" value="Descartar" name="">
                    </div>


                    <!-- <button class="aply-changes" type="submit">Aplicar cambios</button>
                    <button class="dischard-changes" type="reset">Descartar cambios</button> -->
                </form>
            </div> 
        </div>
    </main>

    <%- include("../partials/footer") %> 
    <script src="/js/cargaFormularioEdit.js"></script>
    <script src="/js/updateMarcaModelo.js"></script>

</body>
</html>