<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productList.css" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>
  </head>
  
  <body>
    <%- include ('../partials/header') %>
    <main>
      <h1 class="list-title">LISTADO DE PRODUCTOS</h1>

      <!-- <div class="div-search-cars" style="width: 100%;"> 
        <form action="/products/searchBrand" method="get">
         <input class="search-cars" type="search" name="search" id="">
        </form>
      </div> -->

      <div class="box" style="width: 100%;display: flex; justify-content: center;margin: 20px;">
        <div class="container-4" >
          <form action="/products/searchBrand" method="get">
            <!-- <input class="search-cars" type="search" name="search" id=""> -->
            <input type="search" id="search" name="search" placeholder="Busca tu auto por marca..." />
            <button class="icon"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>

        
        <% carsList.forEach(auto => {%>

          
        <article class="cart-list-item" data-aos="zoom-in" data-aos-duration="1000">
              <a href="/products/detail/<%= auto.id %>">    
                <% if (auto.productImages[0]) { %>
                  <img class="car-img" src="/images/products/<%= auto.productImages[0].name %>" alt="imagen auto">  
                  <% } else { %>
                        <img class="car-img" src="/images/products/image-missing.jpg" alt="">
                <% } %>
                
              </a> 
            <h3 class="img-title"><%= auto.maker %></h3>
            <p class="car_name"><%= auto.model.brand.name %> <%= auto.model.name %></p>
            <p class="car_year">AÑO - <%= auto.year %> </p>
            <p class="car_km"> <%= auto.km  %> KILOMETROS </p>
            <p class="price"><%= auto.price %></p>
            <a href="/products/reserve/<%= auto.id %>">
              <button class="agregar_producto" data-id = "<%=auto.id %>"><p>RESERVAR </p><img class="button_img" src="/images/carrito-de-comprasBW.png" alt=""></button>
            </a>
        </article> 
     
        <% }) %>
    </main>
    <%- include ('../partials/footer') %>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/dropdownMenu.js"></script>
    <script src="/js/formateoPrecio.js"></script>
  </body>
</html>
