<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/userProfile.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header') %>
<main>
    <section>
        <div class="img-container">
            <img src="/images/user/profile-icon-png-898.png" alt="">
        </div>
        <div class="content-box">
            <div class="form">
                <h2>PERFIL USUARIO</h2>
                <form method = "post" action="/user/profile/edit">
                    <div class="input-box">
                        <span>Nombre</span>
                        <input type="text" name="firstName" value="<%= user.firstName %>" >
                    </div>
                    <div class="input-box">
                        <span>Apellido</span>
                        <input type="text" name="lastName" value="<%= user.lastName %>" >
                    </div>
                    <div class="input-box">
                        <span>E-mail</span>
                        <input type="text" name="email" value="<%= user.email %>" >
                    </div>
                    <!-- <div class="input-box">
                        <span>Imagen de perfil</span>
                        <input type="file" name="userImage">
                    </div> -->
                    <div class="input-box">
                        <span>DNI</span>
                        <input type="text" name="dni" value="<%= user.dni %>" >
                    </div>
                    <div class="input-box">
                        <span>Género</span>
                        <br>
                        <!-- <input type="text" name="userGender"> -->
                        <select name="gender" id="" >
                            <% 
                            let generos = ['Masculino','Femenino','Otro'];
                            %>

                            <% for(let genero in generos ) { %>
                                <% if (generos[genero] == user.gender) { %>
                                    <option value="<%= generos[genero] %>" selected> <%= generos[genero] %> </option>
                                
                                <% } else {%>    
                                    <option value="<%= generos[genero] %>"> <%= generos[genero] %> </option>

                                <% } %>
                            <% } %>
                        </select>
                    </div>

                    <div class="input-box">
                        <span>Fecha de nacimiento</span>
                        <input type="date" name="bornDate" value="<%= user.bornDate %>">
                    </div>

                    <!-- <div class="input-box">
                        <span>Fecha de nacimiento</span>
                        <input type="text" name="bornDate"  value="<%= user.bornDate %>">
                    </div> -->

                    <div class="input-box">
                        <span>Teléfono personal</span>
                        <input type="number" name="phone"  value="<%= user.phone %>">
                    </div>
                    
                    <div class="input-box">
                        <input type="submit" value="Guardar" name="">
                    </div>
                   
                </form>

    </section>





    
</main>




    <%- include("./partials/footer") %> 
</body>

</html>