<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script
    src="https://kit.fontawesome.com/58f19d8ff4.js"
    crossorigin="anonymous"
    ></script>
  
    <title>Register</title>
</head>

<%- include('./partials/header') %>

<body>
    <section>
        <div class="img-container" data-aos="zoom-in" data-aos-duration="800">
            <img src="/images/register.jpg" alt="" >
        </div>
        <div class="content-box" >
            <div class="form" data-aos="flip-left" data-aos-duration="800">
                <h2>CREA TU CUENTA</h2>
                <form method="post" action="/user/register" id="form">

                  
                    <div class="input-box" id="divFirstName">
                        <span>Nombre</span>
                        <input type="text" name="firstName" id="firstName" value="<%= locals.oldBody ? oldBody.firstName : null %>">
                        <% if (locals.errors && errors.firstName) { %>
                            <div class="text-danger" style="color: red; font-size: smaller;">
                               <%= errors.firstName.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="input-box" id="divLastName">
                        <span>Apellido</span>
                        <input type="text" name="lastName" id="lastName" value="<%= locals.oldBody ? oldBody.lastName : null %>">
                        <% if (locals.errors && errors.lastName) { %>
                            <div class="text-danger" style="color: red; font-size: smaller;" >
                               <%= errors.lastName.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="input-box" id="divEmail">
                        <span>Email</span>
                        <input type="email" name="email" id="email" value="<%= locals.oldBody ? oldBody.email : null %>">
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger" style="color: red; font-size: smaller;">
                               <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="input-box" id="divNickname">
                        <span>Nombre de usuario</span>
                        <input type="text" name="nickname" id="nickname" value="<%= locals.oldBody ? oldBody.nickname : null %>">
                        <% if (locals.errors && errors.nickname) { %>
                            <div class="text-danger" style="color: red; font-size: smaller;">
                               <%= errors.nickname.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="input-box" id="divPassword">
                        <span>Contrase単a</span>
                        <div style="position: relative;">
                            <input type="password" name="password" id="password">
                            <i class="fas fa-eye-slash" id="togglePassword"></i>
                        </div>
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger" style="color: red; font-size: smaller;">
                               <%= errors.password.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="input-box" id="divConfPassword">
                        <span>Confirmar Contrase単a</span>
                        <div style="position: relative;">
                            <input type="password" name="confirmPassword" id="confirmPassword">
                            <i class="fas fa-eye-slash" id="toggleConfirmPassword"></i>
                        </div>
                        <% if (locals.errors && errors.confirmPassword) { %>
                            <div class="text-danger" style="color: red; font-size: smaller;">
                               <%= errors.confirmPassword.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <input type="submit" value="Registrate" name="" id="submit">
                    </div>
                    <div class="input-box">
                        <p>多Ya tenes una cuenta? <a href="/user/login">Ingresa</a></p>
                        <!-- <p class="back-home">多Quieres regresar al inicio? <a href="/">Regresa</a></p> -->
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/showPw.js"></script>
    <script src="/js/registerValidation.js"></script>
    <script src="/js/dropdownMenu.js"></script>
    <script src="/js/aos.js"></script>

</body>
</html>