<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>
    <title>Register</title>
</head>

<%- include('./partials/header') %>

<body>
    <section>
        <div class="img-container">
            <img src="/images/register.jpg" alt="">
        </div>
        <div class="content-box">
            <div class="form">
                <h2>CREA TU CUENTA</h2>
                <form method="post" action="/user/register">

                  
                    <div class="input-box">
                        <span>Nombre</span>
                        <input type="text" name="firstName" value="<%= locals.oldBody ? oldBody.firstName : null %>">
                        <% if (locals.errors && errors.firstName) { %>
                            <div class="text-danger" style="color: red;">
                               <%= errors.firstName.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <span>Apellido</span>
                        <input type="text" name="lastName" value="<%= locals.oldBody ? oldBody.lastName : null %>">
                        <% if (locals.errors && errors.lastName) { %>
                            <div class="text-danger" style="color: red;">
                               <%= errors.lastName.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <span>Email</span>
                        <input type="email" name="email" value="<%= locals.oldBody ? oldBody.email : null %>">
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger" style="color: red;">
                               <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <span>Nombre de usuario</span>
                        <input type="text" name="userName" value="<%= locals.oldBody ? oldBody.userName : null %>">
                        <% if (locals.errors && errors.userName) { %>
                            <div class="text-danger" style="color: red;">
                               <%= errors.userName.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <span>Contrase単a</span>
                        <input type="password" name="password">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger" style="color: red;">
                               <%= errors.password.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <span>Confirmar Contrase単a</span>
                        <input type="password" name="confirmPassword">
                        <% if (locals.errors && errors.confirmPassword) { %>
                            <div class="text-danger" style="color: red;">
                               <%= errors.confirmPassword.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <input type="submit" value="Registrate" name="">
                    </div>
                    <div class="input-box">
                        <p>多Ya tenes una cuenta? <a href="/login">Ingresa</a></p>
                        <!-- <p class="back-home">多Quieres regresar al inicio? <a href="/">Regresa</a></p> -->
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>