  <div id="carrucel_recomendations">
  
    <% for(let i = 0; i < recomendedCars.length ; i++){ %>

    <div id="item_carrucel_<%= i %>" class="item_carrucel">
      <div class="tarjeta_carrucel">
        <% if (recomendedCars[i].productImages.length) { %>
          <img class="container_img" src="/images/products/<%=recomendedCars[i].productImages[0].name %>" alt="imagen-<%= recomendedCars[i].model.brand.name %>-<%= recomendedCars[i].model.name %>-<%= recomendedCars[i].year %>">
          <% } else { %>
            <img class="container_img" src="/images/products/image-missing.jpg" alt="">
          <% } %>
        <!-- <div class="container_img"></div> -->
        <h4><%= recomendedCars[i].model.brand.name %> <%= recomendedCars[i].model.name %> <%= recomendedCars[i].year %></h4>
        
        <% if (recomendedCars[i].model.description) {%>

          <p><%= recomendedCars[i].model.description %></p>

        <% } else {%>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            aspernatur asperiores laboriosam, iste exercitationem voluptate.
            Culpa, laboriosam impedit. Magnam rem eligendi facilis dolorem
            cupiditate iste veritatis accusantium vel vitae molestias!
          </p>

        <% } %>
      </div>

      <div class="container_nav_carrucel">
        <a href="#item_carrucel_<%= i == 0 ? (recomendedCars.length - 1) : (i - 1) %>">
          <i class="fa-solid fa-caret-left"></i>
        </a>
        <a class="link_tarjeta" href="/products/detail/<%= recomendedCars[i].id %>"></a>
        <a href="#item_carrucel_<%= (i + 1) == recomendedCars.length ? 0 : (i + 1)%>">
          <i class="fa-solid fa-caret-right"></i>
        </a>
      </div>
    </div>

    <% } %>
  
  </div>