  <div class ="fade" id="carrucel_recomendations" data-aos="fade-up" data-aos-duration="1500">
  
    <% for(let i = 0; i < recomendedCars.length ; i++){ %>
    
    <a href="/products/detail/<%= recomendedCars[i].id %>">
      <div class="item_carrucel">
        <div class="tarjeta_carrucel">
          <% if (recomendedCars[i].productImages.length) { %>
            <img class="container_img" src="/images/products/<%=recomendedCars[i].productImages[0].name %>" alt="imagen-<%= recomendedCars[i].model.brand.name %>-<%= recomendedCars[i].model.name %>-<%= recomendedCars[i].year %>">
            <% } else { %>
              <img class="container_img" src="/images/products/image-missing.jpg" alt="">
            <% } %>

          <h4><%= recomendedCars[i].model.brand.name %> <%= recomendedCars[i].model.name %> <%= recomendedCars[i].year %></h4>
          
          <% if (recomendedCars[i].model.description) {%>

            <p><%= recomendedCars[i].model.description %></p>

          <% } else {%>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              aspernatur asperiores laboriosam, iste exercitationem voluptate.
              Culpa, laboriosam impedit. Magnam rem eligendi facilis dolorem
              cupiditate iste veritatis accusantium vel vitae molestias!
            </p>

          <% } %>
        </div>
      </div>
    </a>

    <% } %>
  
  </div>