<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/userProfile.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <title>Editar Prefíl</title>
</head>

<body>
    <%- include('../partials/header') %>
<main>
    <section >
        <% if (user.img) { %>
            <div class="img-container" data-aos="zoom-in" data-aos-duration="1000">
                <img src="/images/users/<%= user.img.name  %>" alt="">
            </div>
        <% } else { %>
            <div class="img-container" data-aos="zoom-in" data-aos-duration="1000">
                <img src="/images/users/default-icon.png" alt="">
            </div>
        <% } %>
        <div class="content-box" data-aos="zoom-in-down" data-aos-duration="1000">
            <div class="form">
                <h2>PERFIL USUARIO</h2>
                <form method = "post" action="/user/profile/edit/<%= user.id %>?_method=PUT" enctype="multipart/form-data">
                    <div class="input-box">
                        <span>Nombre</span>
                        <input type="text" name="name" value="<%= user.name %>" >
                    </div>
                    <div class="input-box">
                        <span>Apellido</span>
                        <input type="text" name="lastName" value="<%= user.lastName %>" >
                    </div>
                    <div class="input-box">
                    <label for="">Imagen
                        <input class="input-box" type="file" name="img" id="" multiple>
                    </label>
                    </div>
                    <div class="input-box">
                        <span>E-mail</span>
                        <input type="text" name="email" value="<%= user.email %>" disabled>
                    </div>
                    <div class="input-box">
                        <span>Nombre de usuario</span>
                        <input type="text" name="nickname" value="<%= user.nickname %>" disabled>
                    </div>
                    <!-- <div class="input-box">
                        <span>Imagen de perfil</span>
                        <input type="file" name="userImage">
                    </div> -->

                    <div class="input-box">
                        <span>Provincia</span>
                        <br>
                        <select name="state" id="" >
                            <option value="" disabled selected>Seleccionar</option>
                            
                            <% for(let provincia of provincias) { %>
                                <% if (user.state && (provincia.id == user.state.id)){ %>
                                        <option value="<%= provincia.id %>" selected> <%= provincia.name %> </option>
                                    <% } else {%>    
                                        <option value="<%= provincia.id %>"> <%= provincia.name %> </option>
                                    <% } %>
                            <% } %>
                        </select>
                    </div>

                    <div class="input-box">
                        <span>DNI</span>
                        <% if (user.dni) { %>
                            <input type="text" name="dni" value="<%= user.dni %>" >
                        <% } else { %>
                                <input type="text" name="dni" placeholder="Ingresa tu DNI">
                            <% } %>
                    </div>

                    <div class="input-box">
                        <span>Género</span>
                        <br>
                        <!-- <input type="text" name="userGender"> -->
                        <select name="gender" id="" >
                            <option value="" disabled selected>Seleccionar</option>
                            
                            <% for(let genero of generos) { %>
                                <% if (user.gender && (genero.id == user.gender.id)){ %>
                                        <option value="<%= genero.id %>" selected> <%= genero.name %> </option>
                                    <% } else {%>    
                                        <option value="<%= genero.id %>"> <%= genero.name %> </option>
                                    <% } %>
                            <% } %>
                        </select>
                    </div>

                    <div class="input-box">
                        <span>Fecha de nacimiento</span>
                        <input type="date" name="bornDate" value="<%= user.bornDate %>">
                    </div>

                    <!-- <div class="input-box">
                        <span>Fecha de nacimiento</span>
                        <input type="text" name="bornDate"  value="<%= user.bornDate %>">
                    </div> -->

                    <div class="input-box">
                        <span>Teléfono personal</span>
                        <% if (user.phone) { %>
                            <input type="number" name="phone"  value="<%= user.phone %>">
                        <% } else { %>
                                <input type="text" name="phone" placeholder="Ingresa tu teléfono">
                            <% } %>
                    </div>
                    
                    <div class="input-box">
                        <input type="submit" value="Guardar" name="">
                    </div>
                   
                </form>
                <form id="delete" data-userdelete="<%= user.id %>" method="post" >
                    <div class="input-box delete">
                        <input type="submit" value="Eliminar Cuenta" name="">
                    </div>
                </form>

    </section>





    
</main>




    <%- include("../partials/footer") %> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/dropdownMenu.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/confirmDeleteUser.js"></script>
</body>

</html>